// Colors
$bg-color: #dde6ed;
$main-color: #526d82;
$accent-color: #9db2bf;
$text-color1: #27374d;
$text-color2: #dde6ed;

// font-family
$syne: "Syne", sans-serif;
$grotesk: "Space Grotesk", sans-serif;
$inter: "Inter", sans-serif;

// Spacing
$space-l: 45px;
$space-m: 35px;
$space-s: 15px;
$space-xs: 5px;

// CORNERS
$corner-l: 12px;
$corner-m: 6px;
$corner-s: 4px;