@use 'var';

@media screen and (min-width: 300px) and (max-width: 1024px) {
 
   h2 {
      text-align: center;
   }

   #nav {
      .padding-global {
         padding: var.$space-s 0;
      }
      .nav-links {
         grid-template-columns: 1fr;
         justify-items: center;
         .nav-logo {
            max-width: 150px;
            margin-bottom: var.$space-s;
         }
         .nav-btn {
            justify-content: center;
            flex-direction: column;
            .nav-link {
               text-align: center;
            }
         }
      }
   }

   #header {
      height: 120vh;
      .hero-container {
         grid-template-columns: 1fr;
         text-align: center;
         margin-top: 0;
         .hero-middle {
            display: none;
         }
         .hero-right-text {
            font-size: 3rem;
            text-align: center;
         }
      }
      
   }

   #skills {
      img {
         max-width: 60px;
      }
      .skills-container {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         gap: 20px;
         .skills-boxes {
            min-height: 350px;
         }
         .skills-box {
            grid-template-columns: repeat(3, 1fr);
         }
      }
   }

   #featured-projects {
      .projects-container {
         .projects {
            grid-template-columns: repeat(1, 1fr);
         }
      }
   }

   #about-me {
      .about-container {
         .about-work {
            grid-template-columns: 1fr;
            margin-bottom: var.$space-m;
            .about-work-img {
               display: none;
            }
         }
         .about-hobby {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            align-items: center;
            .about-hobby-img {
               display: none;
            }
         }
      }
   }

}